*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --stdPadding: 0px;
    --stdMargin: 0px;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

header{
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Center the button horizontally */
    margin-top: 2rem;
  }
  button:hover {
    background-color: #0056b3;
  }

  p{
    max-width: 65ch;
  }

  img{
    width: 70vh;
    height: auto;
  }

  .apodDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
  }